In [1]:
import numpy as np
import pandas as pd

In [ ]:
pip install pandas

In [ ]:
pip install numpy

In [3]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
df.loc[:,'B']

0    4
1    5
2    6
Name: B, dtype: int64

In [6]:
df.iloc[0]

A    1
B    4
Name: 0, dtype: int64

In [7]:
df.loc[1, 'A']

2

In [8]:
df.iloc[-1]

A    3
B    6
Name: 2, dtype: int64

In [9]:
df.loc[:, 'B']

0    4
1    5
2    6
Name: B, dtype: int64

In [10]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [11]:
df.loc[df['A'] > 2]

   A  B
2  3  6

In [12]:
df.iloc[:2]

   A  B
0  1  4
1  2  5

In [13]:
df.loc[:, ['A', 'B']]

   A  B
0  1  4
1  2  5
2  3  6